
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h5>CRUD information for contacts</h5>

<h5>Contacts</h5>

<div>GET api/contacts	Get all contacts.</div>
<div>GET api/contact/{id}	Get an contact by ID.</div>
<div>POST /api/contract	Create a new contact</div>
<div>PUT /api/contact/{id}	Update an existing contact.</div>
<div>DELETE /api/contact/{id}	Delete an contact.</div>

