
@{
    ViewBag.Title = "Movie Api";
}

<h1></h1>
<h2>Get</h2>

<div> ALL: api/Movie</div>
<div> By Id: api/Movie/5</div>
<div> By particular string : api/Movie/String</div>
<div>
    Method
    <ul>
        <li>GetByTitle(string title)</li>
        <li>GetByDirector(string director)</li>
        <li>GetByActor(string actor)</li>
        <li>GetByYear(int year)</li>
        <li>GetByLocation(string location)</li>
    </ul>
</div>

<h2>PUT</h2>
<div>api/Movie/5</div>
<h2>POST</h2>
<div>api/Movie</div>
<h2>DELETE</h2>
<div>api/Movie/5</div>
